<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
    <h1>Dobrodošli u Quiz App</h1>
    <form action="/odabir_oblasti" method="GET">
        <label for="oblast">Izaberite oblast:</label>
        <select name="oblast" id="oblast">
            <option value="opste_znanje">Opšte znanje</option>
            <option value="sport">Sport</option>
            <option value="igrice">Igre</option>
            <option value="filmovi">Filmovi</option>
            <option value="istorija">Istorija</option>
        </select>
        <button type="submit">Izaberi</button>
    </form>
</body>
</html>
